body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

ul {
    display:flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    text-decoration: none;
    color: #FFF;
    margin: 0px 8px;
}

.header.page {
    flex: 0 0 auto;
    height: 72px;
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 0px 56px;
}

.header li {
    color: #E9EAE8
}
.header .logo {
    margin: 8px 32px;
    font-size: 24px;
    font-weight: 700;
    flex: 0 0 auto;
}

.header .link {
    flex: 0 0 auto;
}

.content .frame-1 {
    background-color: #1F2937;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    padding: 100px 72px;
    gap: 32px;
    height: 300px;
}

.frame-1 .information {
    width: 500px;
    height: 300px;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
}

.information .header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    flex: 0 0 auto;
    text-align: left;
    min-width: 280px;
}

.information .para {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1 0 auto;
}

.information button {
    flex: 0 0 auto;
    width: 100px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #4575ff;
    border:none;
    padding: 8px;
    border-radius: 8px;
}

.frame-1 .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    flex: 0 1 auto;
    background-color: #9999a9;
    text-align: center;
    min-width: 280px;
}

.frame-2 {
    padding: 56px;
}

.content .frame-2 .header {
    background-color: #FFF;
    color:#1F2937;
    text-align: center;
    font-size: 40px;
    font-weight: 700;

}

.frame-2 .content {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.frame-2 .card {
    width: 160px;
    text-align: center;
    padding: 16px;
}

.card img {
    width: 160px;
    height: 160px;
    border: 4px solid #4575ff;
    border-radius: 8px;
    margin-bottom: 16px;
}


.content.page {
    flex: 1 1 auto; 
}

.footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    color:#E9EAE8;
    text-align: center;
    flex: 0 0 auto;
    height: 72px;
}